<section class="price-area section-gap">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="menu-content pb-70 col-lg-8">
                <div class="title text-center">
                    <h1 class="mb-10">Nuestros servicios</h1>
                    <p>Por que sabemos que la comodidad en tu estadía es lo más importante, es que te ofrecemos los siguientes servicios.</p>
                </div>
            </div>
        </div>						
        <div class="row">
            <div class="col-lg-4">
                <div class="single-price">
                    <h4><i class="fa-solid fa-kitchen-set mr-2"></i>Cocina</h4>
                    <ul class="price-list">
                        <li class="d-flex justify-content-between align-items-center">
                            <span>Mesa de comedor</span>
                            <i class="fa-duotone fa-check price-btn mr-2"></i>
                        </li>
                        <li class="d-flex justify-content-between align-items-center">
                            <span>Tostadora</span>
                            <i class="fa-duotone fa-check price-btn mr-2"></i>
                        </li>
                        <li class="d-flex justify-content-between align-items-center">
                            <span>Utensilios de cocina</span>
                            <i class="fa-duotone fa-check price-btn mr-2"></i>
                        </li>
                        <li class="d-flex justify-content-between align-items-center">
                            <span>Cocina</span>
                            <i class="fa-duotone fa-check price-btn mr-2"></i>
                        </li>
                        <li class="d-flex justify-content-between align-items-center">
                            <span>Nevera</span>
                            <i class="fa-duotone fa-check price-btn mr-2"></i>
                        </li>
                    </ul>
                </div>
                <div class="single-price mt-2">
                    <h4><i class="fa-solid fa-sink mr-4"></i>Baño</h4>
                    <ul class="price-list">
                        <li class="d-flex justify-content-between align-items-center">
                            <span>Toallas</span>
                            <i class="fa-duotone fa-check price-btn mr-2"></i>
                        </li>
                        <li class="d-flex justify-content-between align-items-center">
                            <span>Bañera de hidromasaje</span>
                            <i class="fa-duotone fa-check price-btn mr-2"></i>
                        </li>
                        <li class="d-flex justify-content-between align-items-center">
                            <span>Baño privado</span>
                            <i class="fa-duotone fa-check price-btn mr-2"></i>
                        </li>
                        <li class="d-flex justify-content-between align-items-center">
                            <span>Artículos de aseo gratis</span>
                            <i class="fa-duotone fa-check price-btn mr-2"></i>
                        </li>
                        <li class="d-flex justify-content-between align-items-center">
                            <span>Secador de pelo</span>
                            <i class="fa-duotone fa-check price-btn mr-2"></i>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="single-price">
                    <h4><i class="fa-solid fa-house-tree mr-2"></i>Habitación</h4>
                    <ul class="price-list">
                        <li class="d-flex justify-content-between align-items-center">
                            <span>Enchufe cerca de la cama</span>
                            <i class="fa-duotone fa-check price-btn mr-2"></i>
                        </li>
                        <li class="d-flex justify-content-between align-items-center">
                            <span>Tendedero</span>
                            <i class="fa-duotone fa-check price-btn mr-2"></i>
                        </li>
                        <li class="d-flex justify-content-between align-items-center">
                            <span>Suelo de baldosa</span>
                            <i class="fa-duotone fa-check price-btn mr-2"></i>
                        </li>
                        <li class="d-flex justify-content-between align-items-center">
                            <span>Entrada privada</span>
                            <i class="fa-duotone fa-check price-btn mr-2"></i>
                        </li>
                        <li class="d-flex justify-content-between align-items-center">
                            <span>Bañera de hidromasaje</span>
                            <i class="fa-duotone fa-check price-btn mr-2"></i>
                        </li>
                        <li class="d-flex justify-content-between align-items-center">
                            <span>Combustión lenta</span>
                            <i class="fa-duotone fa-check price-btn mr-2"></i>
                        </li>
                        <li class="d-flex justify-content-between align-items-center">
                            <span>Aislante térmico</span>
                            <i class="fa-duotone fa-check price-btn mr-2"></i>
                        </li>
                    </ul>
                </div>
                <div class="single-price mt-4">
                    <h4><i class="fa-solid fa-tv mr-4"></i>Equipamiento audiovisual</h4>
                    <ul class="price-list">
                        <li class="d-flex justify-content-between align-items-center">
                            <span>Servicio de streaming (Netflix)</span>
                            <i class="fa-duotone fa-check price-btn mr-2"></i>
                        </li>
                        <li class="d-flex justify-content-between align-items-center">
                            <span>TV de pantalla plana</span>
                            <i class="fa-duotone fa-check price-btn mr-2"></i>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="single-price">
                    <h4><i class="fa-solid fa-car mr-2"></i>Transporte</h4>
                    <ul class="price-list">
                        <li class="d-flex justify-content-between align-items-center">
                            <span>Servicio de traslado</span>
                            <i class="fa-duotone fa-check price-btn mr-2"></i>
                        </li>
                        <li class="d-flex justify-content-between align-items-center">
                            <span>Traslado al aeropuerto</span>
                            <i class="fa-duotone fa-check price-btn mr-2"></i>
                        </li>
                        <li class="d-flex justify-content-between align-items-center">
                            <span>Recogida en el aeropuerto</span>
                            <i class="fa-duotone fa-check price-btn mr-2"></i>
                        </li>
                        <li class="d-flex justify-content-between align-items-center">
                            <span>Alquiler de coches</span>
                            <i class="fa-duotone fa-check price-btn mr-2"></i>
                        </li>
                    </ul>
                </div>
                <div class="single-price mt-4">
                    <h4><i class="fa-sharp fa-regular fa-flower-tulip mr-4"></i>Exteriores</h4>
                    <ul class="price-list">
                        <li class="d-flex justify-content-between align-items-center">
                            <span>Mobiliario exterior</span>
                            <i class="fa-duotone fa-check price-btn mr-2"></i>
                        </li>
                        <li class="d-flex justify-content-between align-items-center">
                            <span>Barbacoa</span>
                            <i class="fa-duotone fa-check price-btn mr-2"></i>
                        </li>
                        <li class="d-flex justify-content-between align-items-center">
                            <span>Balcón</span>
                            <i class="fa-duotone fa-check price-btn mr-2"></i>
                        </li>
                        <li class="d-flex justify-content-between align-items-center">
                            <span>Terraza</span>
                            <i class="fa-duotone fa-check price-btn mr-2"></i>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>	
</section>