<section class="banner-area relative">
    <div class="overlay overlay-bg"></div>
    <div class="container">
        <div class="row fullscreen align-items-center justify-content-between" style="height:100vh">
            <div class="col-lg-6 col-md-6 banner-left">
                <h6 class="text-white">Alejate de la vida monótona</h6>
                <h1 class="text-white">UN VIAJE MÁGICO</h1>
                <p class="text-white">
                    Nos hemos esmerado en construir , acondicionar y decorar el domo que ofrecemos, de tal forma, que los huéspedes que decidan visitarnos, vivan una experiencia distinta, en un lugar seguro he independiente, con todas las medidas sanitarias vigentes para que en su estadía se sientan cómodos y acogidos.
                </p>
                <p class="text-white font-italic">Si quieres "vivir el hoy, vivir el ahora" ven a Carpe diem Patagonia! </p>
                <a href="https://wa.me/+56966534270?text={{this.whatsappMessage}}" target="_blank" class="primary-btn text-uppercase btn-wsp">
                    <i class="fa fa-whatsapp mr-1"></i>
                    Contactanos
                </a>
            </div>
            <div class="col-lg-4 col-md-6 banner-right home-form">
                <app-check-status></app-check-status>
            </div>
        </div>
    </div>
</section>

<!-- Start booking award-->
<app-section-booking-award></app-section-booking-award>
<!-- End booking award-->

<!-- Start service Area -->
<app-our-services></app-our-services>
<!-- End service Area -->

<!-- Start instagram Area -->
<app-ig-section></app-ig-section>
<!-- End instagram Area -->

<!-- Start reviews Area -->
<app-reviews-section></app-reviews-section>
<!-- End reviews Area -->

<!-- Start home-about Area -->
<section class="home-about-area">
    <div class="container-fluid">
        <div class="row align-items-center justify-content-end">
            <div class="col-lg-6 col-md-12 home-about-left">
                <h1>
                    Vive el ahora con nosotros junto a la biodiversidad en la Patagonia. 
                </h1>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem ea eveniet quidem nisi, amet aspernatur dolorem voluptate accusamus eligendi quam consequatur praesentium adipisci et illum ratione voluptates beatae? Voluptas, minima. 
                </p>
                <a href="#" class="primary-btn text-uppercase">Contactanos</a>
            </div>
            <div class="col-lg-6 col-md-12 home-about-right no-padding">
                <img class="img-fluid" src="assets/img/instagram/199146177.jpg" alt="">
            </div>
        </div>
    </div>	
</section>
<!-- End home-about Area -->
